@use '../../../styles.scss' as *;

.flexReverse {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
}

.justifyRight {
  justify-content: flex-end;
}

.alingSelfEnd {
  align-self: flex-end;
}

.textAlingRight {
  text-align: right;
}

.card {
  gap: 35px;
  display: flex;
  margin-bottom: 150px;

  >.project-img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 620px;
    height: 339px;
    >img {
      object-fit: cover;
      min-width: 420px;
      height: 339px;
      aspect-ratio: 2/10;
    }
  }

  >.project-description {
    max-width: 513px;
    height: 339px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > span:first-child {
      font-size: 32px;
      color: $tertiary;
      display: block;
    }
    > span:nth-child(2) {
      margin-top: 15px;
      font-size: 21px;
      color: $primary;
      display: block;
    }
    > span:nth-child(3) {
      margin-top: 20px;
      font-size: 16px;
      color: $primary-font-color;
    }
  }
}

.button-section {
  display: flex;
  margin-top: 35px;
  gap: 80px;
  > a:first-child {
    @include buttonStyle($tertiary, $primary, $primary-font-color, $tertiary);
    text-decoration: none;
  }
  > a:last-child {
    @include buttonStyle($background, $primary , $primary, $primary);
    text-decoration: none;
  }
}

@media (max-width: 1001px) {
  .card {
    max-width: unset;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    >.project-description {
      width: unset;
      align-items: center;
      >span:nth-child(3) {
        text-align: center;
      }
    >.alingSelfEnd {
      align-self: center;
    }
    }
  }
}

