@use '../../styles.scss' as *;

@media(max-width: 1100px) {
  .about-profile {
    display: none !important;
  }

  .about-me {
    justify-content: center !important;
    padding: 0;
    z-index: 10;
  }

  .about-me-description {
    justify-content: center !important;

  }
}

@media(max-width:640px) {

  .description-content {
    >span:first-child {
      font-size: 45px !important;
    }
  }
}

@media(max-width:420px) {
  .about-me {
    padding-top: calc($nav-bar-height / 2);
    padding: 0 25px;

  }

  .personal-info {
    padding-left: 0 !important;
  }
}

@media(max-width:376px) {
  .about-me {
    margin-bottom: 40px;
  }
}
