<div class="about-me-content">
  <h2>About me</h2>
  <p>
    Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum dolor sit amet, consectetur adipiscing
    elit.
    Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus eleifend sit amet porttitor sapien. Donec
    sollicitudin massa vel lorem vestibulum efficitur.
  </p>
  <div class="personal-section-one">
    <img src="assets/img/icons/menu-btn/active-lamp.png" alt="" srcset="">
    <span>
      Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad
      litora
      torquent per conubia nostra, per inceptos himenaeos.
    </span>
  </div>
  <div class="personal-section-two">
    <img src="assets/img/icons/menu-btn/active-puzzle.png" alt="">
    <span>
      Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad
      litora
      torquent per conubia nostra, per inceptos himenaeos.
    </span>
  </div>
</div>
