@use '../../styles.scss' as *;

.wrapper {
  margin: auto 0;
  padding: 100px 100px;
  display: flex;
  gap: 15%;
  height: 50vh;
  display: flex;
  align-items: center;

  >.about-me-section {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 452px;

    >span {
      font-size: $headline-font-size;
    }
  }
}

.about-me-content {
  font-size: $normal-font-size;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 19.2px;

  >.personal-section {
    display: flex;
    gap: 32px;

    >img {
      width: 50px;
      height: 50px;
      align-self: center;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.about-me-picture {
  position: absolute;
  right: 0;

  >div {
    display: flex;
    align-items: center;

    >img {
      width: 453px;
      border-radius: 50%;
      border: 3px solid $primary;
    }

    >.underline {
      border-bottom: 3px solid $primary;
      width: 257px;
    }
  }
}
