<div class="about-me" id="about-me">
  <div class="about-me-description">
    <div class="description-content">
      <span>About me</span>
      <span>Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.
        Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus eleifend sit amet porttitor sapien.
        Donec
        sollicitudin massa vel lorem vestibulum efficitur.</span>
      <div class="personal-info">
        <div>
          <img src="assets/img/icons/menu-btn/active-lamp.png" alt="">
        </div>
        <span>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
          sociosqu ad litora
          torquent per conubia nostra, per inceptos himenaeos.</span>
      </div>
      <div class="personal-info">
        <div>
          <img src="assets/img/icons/menu-btn/active-puzzle.png" alt="">
        </div>
        <span>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
          sociosqu ad litora
          torquent per conubia nostra, per inceptos himenaeos.</span>
      </div>
    </div>
  </div>
  <div class="about-profile" data-aos="fade-left">
    <div class="profile-picture">
      <img src="assets/img/profile-pic.png" alt="">
    </div>
    <div class="divider"></div>
  </div>
</div>
