@use '../../styles.scss' as *;

.wrapper {
  margin: auto 0;
  padding: 0px 0 0 100px;
  display: flex;
  gap: 15%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  >.about-me-section {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 452px;
    z-index: 3;

    >span {
      font-size: $headline-font-size;
    }
  }
}

.about-me-content {
  font-size: $normal-font-size;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 19.2px;

  >.personal-section {
    display: flex;
    gap: 32px;


    >img {
      width: 50px;
      height: 50px;
      align-self: center;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.about-me-picture {
  z-index: 3;

  >div {
    display: flex;
    align-items: center;

    >img {
      border-radius: 50%;
      border: 3px solid $primary;
    }

    >.underline {
      border-bottom: 3px solid $primary;
      min-width: 228px;
      width: 100%;
    }
  }
}

@media (max-width: 1001px) {
  .wrapper {
    padding: 0px 25px;
    align-items: center;
    justify-content: center;
  }

  .about-me-picture {
    display: none;

    >div {
      >.underline {
        width: 100px;
      }
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0 25px;
    >.about-me-section {
      gap: 10px;

      >span {
        font-size: 45px
      }
    }
  }
}

@media (max-width: 500px) {
  .wrapper {
    padding: 70px 25px;
    >.about-me-section {
      gap: 10px;

      >span {
        font-size: 35px
      }
    }
  }
}
