<div class="about-me" id="about-me">
  <div class="about-me-description" data-aos="fade-right">
    <div class="description-content">
      <span>About me</span>
      <span>
        Hi there, I am a frontend developer based in Mannheim.<br> I used to work as a logistics specialist but after a traffic
        accident, I had to take a different career path. Since I've always been interested in IT and development, I saw this as
        a new opportunity and turned my dream into reality.
      </span>
      <div class="personal-info">
        <div>
          <img src="assets/img/icons/menu-btn/active-lamp.png" alt="">
        </div>
        <span>
          I enjoy finding the optimal solution for an existing problem to ensure that the end-user has an unforgettable
          experience.
        </span>
      </div>
      <div class="personal-info">
        <div>
          <img src="assets/img/icons/menu-btn/active-puzzle.png" alt="">
        </div>
        <span>
          Since I don't just see development as a job but as a vocation, I continuously educate myself further.
        </span>
      </div>
    </div>
  </div>
  <div class="about-profile" data-aos="fade-left">
    <div class="profile-picture">
      <img src="assets/img/profile-pic.png" alt="">
    </div>
    <div class="divider"></div>
  </div>
</div>
