<div class="atf">
  <div class="img-container">
    <img src="assets/img/hero character photo.png" alt="" srcset="">
    <img src="assets/img/blurred colors/photo shadows.png" alt="" srcset="">
  </div>
  <div class="wrapper">
    <div class="headline-part">
      <span class="rotate">I am</span>
      <div class="headline">
        <span>Dagan Saric</span>
        <h2>FRONTEND DEVELOPER</h2>
      </div>
    </div>
    <button class="talk-btn">Let´s talk!</button>
  </div>

  <img class="separator" src="assets/img/separator/separator_1.png" alt="" srcset="">

  <div class="social-media-section">
    <div class="line">

    </div>
    <div class="social-media">
      @for(count of socialMedia; track count; ) {
      <a href="{{count.link}}" target="_blank">
        <app-svg-icon [path]="count.path" [id]="count.id"></app-svg-icon>
      </a>
      }
      <a href="#email">Dragansaric&#64;gmx.de</a>
    </div>
  </div>

  <div class="rotate-90 position90 pointer">
    <span>Scroll down</span>
    <img src="assets/img/icons/menu-btn/arrow-down-line.png" alt="">
  </div>

  <!-- <img class="corner-shadow" src="assets/img/blurred colors/Purple shadow 1.png" alt=""> -->

</div>
