@use '../../styles.scss' as *;

.atf {
  padding-top: 57px;
  height: calc(100vh + 111px);
  padding: 0 100px;
  position: relative;

  >.corner-shadow {
    position: absolute;
    bottom: -490px;
    left: calc(100% - 355px);
  }

}

.img-container {
  position: relative;
  top: calc(77% - 593px);
  z-index: -1;

  >img:nth-child(2) {
    position: absolute;
    left: -150px;
    z-index: -2;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(100% - 890px);
  flex-wrap: nowrap;
  z-index: 2;
}

.headline-part {
  display: flex;

  >.rotate {
    text-align: center;
    position: relative;
    left: 91px;
    top: 8px;
    transform: rotate(270deg);
    font-size: 64px;
    font-weight: 400;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  >.headline {
    >span {
      font-size: $headline-font-size;
      margin: 0;
    }

    >h2 {
      font-size: $h2-font-size;
      color: $tertiary;
      margin: 0;
    }
  }
}

.talk-btn {
  @include buttonStyle($primary, $tertiary, $primary-font-color, $primary);
  font-size: 23px;
  margin-top: 44px;
  text-decoration: none;

  &:hover {
    transform: scale(1.2);
  }
}

.separator {
  position: absolute;
  top: calc(100% - 598px);
  left: 0px;
  width: 100%;
  height: 1028px;
  z-index: -1;
}

.social-media-section {
  position: absolute;
  width: 100%;
  bottom: 120px;
  left: 0px;
  display: flex;
  align-items: center;
}

.line {
  position: absolute;
  height: 0px;
  width: 100px;
  border-bottom: 3px solid $tertiary;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-left: 130px;

  >a {
    color: $tertiary;
    font-size: 24px;
    align-self: center;
    text-decoration: none;
    color: $primary-font-color;

    &:hover {
      color: $primary-font-color;
    }
  }
}

.rotate90 {
  cursor: pointer;
  transform: rotate(90deg);
  width: 200px;
  position: absolute;
  gap: 10px;
  right: 0px;
  bottom: 150px;
  z-index: 4;
  font-size: 23px;

  >a {
    color: $primary-font-color;
    text-decoration: none;
    display: flex;
    align-items: center;

    >img {
      height: 26px;
      transform: rotate(270deg);
    }
  }
}

.wiggle {
  animation: wiggle 1s infinite;
}



@keyframes wiggle {
  0% {
    transform: rotate(90deg) translateX(0);
  }

  25% {
    transform: rotate(90deg) translateX(-10px);
  }

  50% {
    transform: rotate(90deg) translateX(0);
  }

  75% {
    transform: rotate(90deg) translateX(-10px);
  }

  100% {
    transform: rotate(90deg) translateX(0);
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: $media-query-one) {
  .img-container {
    top: calc(100% - 720px);
    left: -50px;

    >img:first-child {
      width: 500px;
    }

    >img:nth-child(2) {
      width: 700px;
    }
  }

  .wrapper {
    top: calc(100% - 680px);
    left: calc(100% - 690px);

    >.headline-part {
      >.rotate {
        left: 70px;
        top: 10px;
        font-size: 58px;
      }

      >.headline {
        >span {
          font-size: 70px;
        }

        >h2 {
          font-size: 41px;
        }
      }
    }

  }

}

@media (max-width: $media-query-two) {
  .atf {
    height: calc(100vh + 111px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;

    >.img-container {
      position: unset;
      padding: 100px 0 0 0;
      width: 500px;

      >img:first-child {
        width: inherit;
      }

      >img:nth-child(2) {
        width: 700px;
        left: 0;
        right: 0;
      }
    }

    >.wrapper {
      display: flex;
      flex-direction: column;
      justify-content: right;
      align-items: center;
      position: unset;
      flex-wrap: nowrap;
      z-index: 2;
    }

    >.separator {
      position: absolute;
      top: calc(100% - 622px);
      height: 200px;
    }
    >.headline-part {
      padding-right: 3%;
      position: relative;
      > .rotate {
        width: 0;
        height: 0;

      }
    }
  }
}
