@use '../../styles.scss' as *;

.atf {
  padding-top: 57px;
  height: calc(100vh + 111px);
  padding: 0 100px;
  position: relative;

  >.corner-shadow {
    position: absolute;
    bottom: -490px;
    left: calc(100% - 355px);
  }

}

.img-container {
  position: relative;
  padding: 111px 0 0 0;
  top: calc(77% - 593px);
  z-index: -1;

  >img:nth-child(2) {
    position: absolute;
    left: -150px;
    z-index: -2;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(100% - 890px);
  flex-wrap: nowrap;
  z-index: 2;
}

.headline-part {
  display: flex;

  >.rotate {
    font-size: 64px;
    font-weight: 400;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    position: relative;
    top: 10px;
    left: 90px;
  }

  >.headline {
    >span {
      font-size: $headline-font-size;
      margin: 0;
    }

    >h2 {
      font-size: $h2-font-size;
      color: $tertiary;
      margin: 0;
    }
  }
}

.talk-btn {
  @include buttonStyle($primary, $tertiary, $primary-font-color, $primary);
  font-size: 23px;
  margin-top: 44px;
  text-decoration: none;

  &:hover {
    transform: scale(1.2);
  }
}

.separator {
  position: absolute;
  top: calc(100% - 598px);
  left: 0px;
  width: 100%;
  height: 1028px;
  z-index: -1;
}

.social-media-section {
  position: absolute;
  width: 100%;
  bottom: 120px;
  left: 0px;
  display: flex;
  align-items: center;
  z-index: 100;
}

.line {
  position: absolute;
  height: 0px;
  width: 100px;
  border-bottom: 3px solid $tertiary;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-left: 130px;

  >a {
    color: $tertiary;
    font-size: 24px;
    align-self: center;
    text-decoration: none;
    color: $primary-font-color;

    &:hover {
      color: $primary-font-color;
    }
  }
}

.rotate90 {
  cursor: pointer;
  transform: rotate(90deg);
  width: 200px;
  position: absolute;
  gap: 10px;
  right: 0px;
  bottom: 150px;
  z-index: 4;
  font-size: 23px;

  >a {
    color: $primary-font-color;
    text-decoration: none;
    display: flex;
    align-items: center;

    >img {
      height: 26px;
      transform: rotate(270deg);
    }
  }
}

.wiggle {
  animation: wiggle 1s infinite;
}



@keyframes wiggle {
  0% {
    transform: rotate(90deg) translateX(0);
  }

  25% {
    transform: rotate(90deg) translateX(-10px);
  }

  50% {
    transform: rotate(90deg) translateX(0);
  }

  75% {
    transform: rotate(90deg) translateX(-10px);
  }

  100% {
    transform: rotate(90deg) translateX(0);
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: $media-query-one) {
  .img-container {
    top: calc(100% - 720px);
    left: -50px;

    >img:first-child {
      width: 500px;
    }

    >img:nth-child(2) {
      width: 700px;
    }
  }

  .wrapper {
    top: calc(100% - 680px);
    left: calc(100% - 690px);

    >.headline-part {
      >.rotate {
        left: 70px;
        top: 10px;
        font-size: 58px;
      }

      >.headline {
        >span {
          font-size: 70px;
        }

        >h2 {
          font-size: 41px;
        }
      }
    }

  }

}

@media (max-width: $media-query-two) {
  .atf {
    height: calc(100vh + 111px);
    padding: 0 50px;

    >.img-container {
      position: relative;
      width: 500px;

      >img:first-child {
        position: absolute;
        top: calc(50% - 300px);
        left: calc(50% - 150px);
      }

      >img:nth-child(2) {
        position: absolute;
        top: calc(50% - 300px);
        left: calc(50% - 250px);
        width: 650px;
      }
    }

    >.wrapper {
      display: flex;
      flex-direction: column;
      justify-content: right;
      align-items: center;
      position: absolute;
      left: calc(50% - 230px);
      top: calc(50% + 100px);
      flex-wrap: nowrap;
      z-index: 2;

      >.headline-part {

        >.rotate {
          display: none;
        }
      }
    }

    >.separator {
      position: absolute;
      top: 50%;
      height: 200px;
    }

  }

  .social-media-section {
    width: 100%;
    bottom: 120px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    >.line {
      left: 0;
      width: 100px;
      position: absolute;
    }

    >.social-media {
      margin-left: 0;
      justify-content: center;
      gap: 40px;

      >a:last-child {
        display: none;
      }
    }
  }
}

@media (max-width: $media-query-six) {
  .atf {
    >.img-container {
      >img:first-child {
        width: 430px;
        top: calc(50% - 200px);
        left: calc(50% - 230px);
      }

      >img:nth-child(2) {
        position: absolute;
        top: calc(50% - 140px);
        left: calc(50% - 250px);
        width: 450px;
      }
    }

    >.wrapper {
      left: calc(50% - 140px);
      top: calc(50% + 100px);

      >.headline-part {
        >.headline {
          >span {
            font-size: 44px;
          }

          >h2 {
            font-size: 25px;
          }
        }
      }
    }
  }

  .social-media-section {
    width: 100%;
    bottom: 120px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    >.line {
      display: none;
    }
  }
}

@media (max-width: 412px) {
  .atf {
    >.img-container {
      >img:first-child {
        width: 430px;
        top: calc(50% - 230px);
        left: calc(50% - 250px);
      }

      >img:nth-child(2) {
        position: absolute;
        top: calc(50% - 200px);
        left: calc(50% - 350px);
        width: 550px;
      }
    }

    >.wrapper {
      >.headline-part {
        >.headline {
          >span {}

          >h2 {}
        }
      }

      >.talk-btn {
        font-size: 20px;
        padding: 10px 20px;
        margin: 10px;
      }
    }
  }

  .social-media-section {
    width: 100%;
    bottom: 120px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    >.line {
      display: none;
    }
  }
}

@media (max-width: 391px) {
  .atf {
    >.img-container {
      >img:first-child {
        width: 360px;
        top: calc(50% - 111px);
        left: calc(50% - 250px);
      }

      >img:nth-child(2) {
        position: absolute;
        top: calc(50% - 100px);
        left: calc(50% - 300px);
        width: 450px;
      }
    }

    >.wrapper {
      left: calc(50% - 140px);

      >.headline-part {
        >.headline {
          >span {
            font-size: 44px;
          }

          >h2 {
            font-size: 25px;
          }
        }
      }

    }
  }
}

@media (max-width: 390px) {
  .atf {
    >.img-container {
      >img:first-child {
        width: 330px;
        top: 50%;
        left: calc(50% - 210px);
      }

      >img:nth-child(2) {
        position: absolute;
        top: calc(50%);
        left: calc(50% - 250px);
        width: 350px;
      }
    }

    >.wrapper {
      left: calc(50% - 110px);
      top: calc(50% + 70px);

      >.headline-part {
        >.headline {
          >span {
            font-size: 32px;
          }

          >h2 {
            font-size: 19px;
          }
        }
      }

      >.talk-btn {
        font-size: 20px;
        padding: 10px 20px;
        margin: 10px;
      }
    }
  }

  .social-media-section {
    width: 100%;
    bottom: 120px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    >.line {
      display: none;
    }
  }
}

@media (max-width: 385px) {
  .atf {
    >.img-container {
      >img:first-child {
        width: 380px;
        top: calc(50% - 130px);
        left: calc(50% - 230px);
      }

      >img:nth-child(2) {
        position: absolute;
        top: calc(50% - 140px);
        left: calc(50% - 290px);
        width: 550px;
      }
    }

    >.wrapper {
      left: calc(50% - 120px);
      top: calc(50% + 93px);

      >.headline-part {
        >.headline {
          >span {
            font-size: 37px;
          }

          >h2 {
            font-size: 22px;
          }
        }
      }
    }
  }

}

@media (max-width: 366px) {
  .atf {
    >.img-container {
      >img:first-child {
        width: 350px;
        top: calc(50% - 60px);
        left: calc(50% - 230px);
      }

      >img:nth-child(2) {
        position: absolute;
        top: calc(50% - 100px);
        left: calc(50% - 290px);
        width: 450px;
      }
    }

    >.wrapper {
      left: calc(50% - 120px);
      top: calc(50% + 93px);
    }
  }

}
