@use '../../../styles.scss' as *;

@media(max-width: 1366px) {
  .atf {

    .text-container {

      >.vertical {
        top: 50px;
        left: -80px;
        font-size: 40px;
      }

      >.headline {
        font-size: 60px;
      }

      >.job-title {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 1077px) {

  .atf {
    padding: 122px 50px 0 50px;
    flex-direction: column;
    @include flex(center, center);
    height: calc(100lvh - $nav-bar-height);

    >.img-container {
      position: absolute;
      width: 450px;
      top: calc(50% - 420px);

      >.hero {
        width: 700px;
        top: calc(50% - -67px);
        left: calc(50% - 350px);
      }

      >img:last-child {
        left: calc(50% - 400px);
        width: 800px;
      }
    }

    >.text-container {
      position: relative;
      right: unset;
      left: unset;
      top: calc(50% - 220px);

      >.vertical {
        display: none;
      }
    }

    >.social-media-container {
      width: 100%;
      @include flex(center, center);
      bottom: 24px;

      >.divider {
        display: none;
      }

      >a:last-child {
        display: none;
      }
    }

    >.vertical-wiggle {
      display: none;
    }

    >.separator {
      top: calc(50% - 50px);
      height: 599px;
    }
  }


  @media (max-width: 568px) {
    .atf {
      padding: 100px 25px 0 25px;

      >.img-container {
        width: 400px;
        top: calc(50% - 330px);

        >.hero {
          width: 500px;
          top: calc(50% - -139px);
          left: calc(50% - 250px);
        }

        >img:last-child {
          left: calc(50% - 300px);
          top: calc(50% - -50px);
          width: 600px;
        }
      }

      >.text-container {
        top: calc(50% - 200px);

        >.headline {
          font-size: 40px;
        }

        >.job-title {
          font-size: 26px;
        }

        >button {
          font-size: 20px;
          margin-top: 20px;
        }
      }

      >.social-media-container {
        width: 100%;
        >a:last-child {
          display: none;
        }
      }

      >.separator {
        height: 260px;
        top: calc(50% - -118px);
      }

      >img:last-child {
        left: 150px;
      }
    }

  }
}
