<div class="atf" id="home">
  <div class="img-container" data-aos="fade-right">
    <img class="hero" src="assets/img/user-hero.png" alt="" srcset="">
    <img src="assets/img/blurred colors/photo shadows.png" alt="" srcset="">
  </div>
  <div class="text-container" data-aos="fade-left" data-aos-duration="1000">
    <span class="vertical">{{"atf_i_am" | translate}}</span>
    <span class="headline">Dragan Saric</span>
    <span class="job-title">{{"atf_job_title" | translate}}</span>
    <button (click)="links.goToContact()">Let's talk</button>
  </div>
  <img class="separator" src="assets/img/separator/separator_1.png" alt="" srcset="">
  <div class="social-media-container">
    <div class="divider"></div>
    @for(count of socialMedia.socialMedia; track count; let i = $index ) {
    <a [href]="count.link" class="flex-center" [attr.target]="i % 2 === 0? '_blank' : ''">
      <app-svg-icon class="small-icon pointer" [width]="'42'" [height]="'41'" [path]="count.path"
        [id]="count.id"></app-svg-icon>
    </a>
    }
    <a href="#contact">info&#64;dragan-saric.de</a>
  </div>
  <a class="vertical-wiggle" href="#about-me">
    <span>{{"atf_scroll_down" | translate}}</span>
    <img src="assets/img/icons/menu-btn/arrow-down-line.png" alt="">
  </a>
  <img src="assets/img/blurred colors/Purple shadow 1.png" alt="" srcset="">
</div>
