@use '../../../styles.scss' as *;

.atf {
  height: calc(100svh - $nav-bar-height);
  padding: 210px 100px 0 100px;
  position: relative;
  @include flex(space-between);

  >.img-container {
    position: relative;
    width: 606px;
    top: calc(50% - 450px);

    >.hero {
      width: 1000px;
      position: absolute;
      top: -63px;
      left: -182px;

      z-index: 2;
    }

    >img:last-child {
      position: absolute;
      z-index: 1;
      left: calc(50% - 450px);
      width: 900px;
    }
  }

  >.text-container {
    position: absolute;
    top: calc(50% - 300px);
    right: 100px;
    z-index: 4;
    display: flex;
    flex-direction: column;

    >.vertical {
      transform: rotate(270deg);
      position: absolute;
      top: 80px;
      left: -120px;
      font-size: 64px;
    }

    >.headline {
      font-size: $headline-font-size;
      font-weight: 700;
    }

    >.job-title {
      font-size: 62px;
      color: $tertiary;
    }

    >button {
      @include buttonStyle($primary, $tertiary);
      margin-top: 50px;
      font-size: 23px;
      display: inline-block;
      width: fit-content;
      align-self: center;
    }
  }

  >.separator {
    position: absolute;
    top: calc(50% - 180px);
    left: 0;
    width: 100%;
    height: 1080px;
    z-index: 3;
  }

  >.social-media-container {
    position: absolute;
    bottom: 15%;
    left: 0;
    @include flex(flex-start, center);
    gap: 40px;
    z-index: 3;

    >.divider {
      border-bottom: 3px solid $tertiary;
      width: 100px;
    }

    >a:last-child {
      text-decoration: none;
      color: $primary-font-color;
      font-size: 23px;
    }
  }

  .vertical-wiggle {
    z-index: 3;
    position: absolute;
    bottom: 15%;
    right: 30px;
    @include flex(flex-start, center);
    rotate: 90deg;
    text-decoration: none;
    color: $primary-font-color;
    font-size: 23px;

    >img {
      rotate: 270deg;
      align-self: center;
      width: 26px;
    }

    animation: up-and-down 1s infinite;
  }

  >img:last-child {
    position: absolute;
    top: calc(100% - $nav-bar-height);
    right: -330px;
    max-width: 100%;
    object-fit: cover;
    z-index: 3;
  }

  @keyframes up-and-down {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(-10px);
    }

    100% {
      transform: translateX(0);
    }

  }
}
