<div class="wrapper" id="contact">
  <div>
    <div class="contact-container">
      <span>Contact</span>
      <div class="contact-headline">
        <div class="underlineSmall"></div>
      </div>
      <div class="contact-section">
        <span>Got a problem to solve?</span>
        <span>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to
          your
          projects
          with my work.</span>
        <span>Need a Frontend developer? Contact me!</span>
      </div>
    </div>

    <form (ngSubmit)="submitData()" #f="ngForm">
      <input class="form-control" type="text" id="name" ngModel name="name" required>
      <input type="text" id="email" ngModel name="email" required>
      <textarea id="message" ngModel name="message" required></textarea>
      <div>
        <input type="checkbox" ngModel name="privacy-policy" id="privacy-policy" required>
        <span>I've read the <span>privacy policy</span> and agree to the processing of my data as outlined.</span>
      </div>
      <button type="submit">Send message :)</button>
    </form>

  </div>
</div>
