<div class="outer-container" id="contact">
  <div class="headline-container" data-aos="fade-right">
    <div class="divider-small"></div>
    <span>{{"contact_title" | translate}}</span>
  </div>

  <div class="wrapper">
    <div class="contact-container" data-aos="fade-right">
      <div class="contact-section">
        <span>{{"contact_headline" | translate}}</span>
        <span>{{"contact_text" | translate}}</span>
        <span>{{"contact_text_2" | translate}} <b>{{"contact_text_2_bold_part" | translate}}</b></span>
      </div>
    </div>

    <div class="form-container" data-aos="fade-left">
      <form [formGroup]="contactObj" (ngSubmit)="onSubmit()">
        <div>
          <input [ngClass]="{'is-invalid': isNameInvalid(),'is-valid': isNameValidAndTouched()}" type="text"
            formControlName="name" placeholder="{{'contact_name_placeholder' | translate}}" required>
          <span class="invalid" *ngIf="isNameInvalid()">{{"contact_name_invalid" | translate}}</span>
        </div>
        <div>
          <input [ngClass]="{'is-invalid': isEmailInvalid(),'is-valid': isEmailValidAndTouched()}" type="email"
            formControlName="email" placeholder="{{'contact_email_placeholder' | translate}}" required>
          <span class="invalid" *ngIf="isEmailInvalid()">{{"contact_email_invalid" | translate}}</span>
        </div>
        <div>
          <textarea [ngClass]="{'is-invalid': isMessageInvalid(),'is-valid': isMessageValidAndTouched()}" id="message"
            formControlName="message" placeholder="{{'contact_message_placeholder' | translate}}" required></textarea>
          <span class="invalid" *ngIf="isMessageInvalid()">{{"contact_message_invalid" | translate}}</span>
        </div>
        <div class="checkbox-container">
          <div>
            <input type="checkbox" formControlName="privacyPolicy"
              required>
            <span>{{"contact_privacy_policy_text" | translate}} <a routerLink="privacy-policy" calss="highlitghting">{{"contact_privacy_policy_link" | translate}}</a>{{"contact_privacy_policy_text_2" | translate}}</span>
          </div>
          <span class="invalid" *ngIf="isPrivacyPolicyInvalid()">{{"contact_privacy_policy_invalid" | translate}}</span>
        </div>
        <button class="sub-btn" type="submit" [disabled]="contactObj.invalid">Send message
          :)</button>
        <img class="pointer" (click)="link.goToStart()" (mouseover)="changeImgSrc()" (mouseleave)="resetImgSrc()"
          src="{{imgSrt}}" alt="">
      </form>
    </div>
  </div>
  <img src="assets/img/blurred colors/Purple shadow 4.png" alt="" srcset="">
</div>
