<div class="about-me" id="about-me">
  <div class="about-me-description" data-aos="fade-right">
    <div class="description-content">
      <span>{{"about_me_title" | translate}}</span>
      <span>
        {{ "about_me_text" | translate }}
      </span>
      <div class="personal-info">
        <div>
          <img src="assets/img/icons/menu-btn/active-lamp.png" alt="">
        </div>
        <span>
          {{ "about_me_text_2" | translate }}
        </span>
      </div>
      <div class="personal-info">
        <div>
          <img src="assets/img/icons/menu-btn/active-puzzle.png" alt="">
        </div>
        <span>
          {{ "about_me_text_3" | translate }}
        </span>
      </div>
    </div>
  </div>
  <div class="about-profile" data-aos="fade-left">
    <div class="profile-picture">
      <img src="assets/img/profile-pic.png" alt="">
    </div>
    <div class="divider"></div>
  </div>
</div>
