@use '../../styles.scss' as *;

.portfolio-section {
  padding: 0px 0px 0px 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  > .headline-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    > .headline {
      display: flex;
      align-items: center;
      gap: 2rem;
      > .underlineSmall {
        border-bottom: 3px solid $tertiary;
        width: 109px;
      }
      > .underlineBig {
        border-bottom: 3px solid $tertiary;
        width: 448px;
      }
      >span {
        font-size: $headline-font-size;
      }
    }
    > .section-description {
      width: 986px;
      font-size: $normal-font-size;
      align-self: flex-end;
    }
  }
  > img {
    position: absolute;
    z-index: -1;
    transform: rotate(180deg);
    left: -40px;
    bottom: 20%;
    height: 748px;
    width: 648px;
  }
}

.wrapper {
  margin-top: 116px;
  padding-right: 100px;
}
