<div class="portfolio-section" id="portfolio">
  <div class="headline-section" data-aos="fade-left">
    <div class="headline">
      <div class="underline-contaienr">
        <div class="underlineSmall"></div>
      </div>
      <span>Portfolio</span>
      <div class="underlineBig"></div>
    </div>
    <span class="section-description">Explore a selection of my work here - Interact with projects to see my skills in
      action.</span>
  </div>
  <div class="wrapper">
    @for(project of projects; track project.projectTitle; let index= $index){
    <div data-aos="fade-up">
      <app-project-card [index]="index" [projectImg]="project.projectImg" [projectTitle]="project.projectTitle"
        [techStack]="project.techStack" [projectDescription]="project.projectDescription"
        [githubLink]="project.githubLink" [liveLink]="project.liveLink"></app-project-card>
    </div>
    }
  </div>
  <img class="prup-blur" src="assets/img/blurred colors/Purple shadow footer V2.png" alt="" srcset="">
  <img class="green-blur" src="assets/img/blurred colors/Green shadow 2.png" alt="">
</div>
