@use '../../styles.scss' as *;

.portfolio-section {
  padding: 111px 0px 0px 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  > .headline-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    > .headline {
      display: flex;
      align-items: center;
      gap: 2rem;
      > .underlineSmall {
        border-bottom: 3px solid $tertiary;
        width: 109px;
      }
      > .underlineBig {
        border-bottom: 3px solid $tertiary;
        width: 448px;
        min-width: 448 / 2;
      }
      >span {
        font-size: $headline-font-size;
      }
    }
    > .section-description {
      width: 986px;
      font-size: $normal-font-size;
      align-self: flex-end;
    }
  }
}

.prup-blur {
  position: absolute;
  z-index: -1;
  transform: rotate(180deg);
  left: -40px;
  bottom: 20%;
  height: 748px;
  width: 648px;
}

.green-blur {
  position: absolute;
  z-index: -1;
  transform: rotate(180deg);
  right: 0;
  bottom: 0;
  height: 928px;
  width: 428px;
}

.wrapper {
  margin-top: 116px;
  padding-right: 100px;
}
