@use '../../../styles.scss' as *;


a {
  text-decoration: none;
  color: $primary-font-color;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $background;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1;


  >nav {
    padding: 37px 100px;
    @include flex(space-between, center);
    width: 100%;
    max-width: 1920px;
    >span {
      font-size: 1.5rem;
      font-weight: 700;
    }

    >div {
      display: flex;
      gap: 29px;

      >a {
        font-size: 23px;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}

.translation {
  display: flex;
  align-items: center;
  gap: 12px;
}

img {
  width: 24px;
  height: 24px;
  &:hover {
    border: 1px solid $primary;
    border-radius: 50%;
  }
}




.name {
  font-size: 32px !important;
}

.active {
  color: $primary;
  border-bottom: 2px solid $tertiary;
}

@media (max-width: $media-query-two) {

  .burger-menu {
    @include flex(center, start);
    gap: 20px;
    position: absolute;
    top: 111px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: $menu-background;
    z-index: 1000;

    >.menu-container {
      margin: 20%;
      display: flex;
      flex-direction: column;
      gap: 33px;

      >a {
        text-align: left;
        font-size: 23px;
      }
    }
  }
}

@media (max-width: $media-query-two) {
  header {
    >nav {
      padding: 37px 25px;
    }
  }
}

@media(max-width: 1920px) {
  header {
    >nav {
      width: 100%;
    }
  }
}
