<header>
  <nav>
    <span (click)="scrollTo('home')" class="pointer name">Dragan</span>
    <div class="mobile-view">
      <a class="pointer" (click)="setIsClickedToTrue(); setAboutMetoTrue();" [ngClass]="aboutMe? 'active' : ''"
        (click)="scrollTo('about-me')">{{"nav_about_me" | translate}}</a>
      <a class="pointer" (click)="setIsClickedToTrue(); setSkillsToTrue();" [ngClass]="skills? 'active' : ''"
        (click)="scrollTo('skills')">{{"nav_skills" | translate}}</a>
      <a class="pointer" (click)="setIsClickedToTrue(); setPortfolioToTrue();" [ngClass]="portfolio? 'active' : ''"
        (click)="scrollTo('portfolio')">{{"nav_portfolio" | translate}}</a>
      <div class="translation">
        <img src="assets/img/icons/menu-btn/en-btn.png" class="pointer flag-btn"
          (click)="translationService.switchLanguage('en-EN')">
        <img src="assets/img/icons/menu-btn/de-btn.png" class="pointer flag-btn"
          (click)="translationService.switchLanguage('de-DE')">
      </div>
    </div>
    <div class="desktop-view pointer" (click)="openOrCloseBurgerMenu()">
      @if(isBurgerOpen) {
      <img src="assets/img/icons/menu-btn/close-btn.png" aria-label="burger menu">
      <div class="burger-menu">
        <div class="menu-container">
          <a (click)="setAboutMetoTrue()" href="#about-me">{{"nav_about_me" | translate}}</a>
          <a (click)="setSkillsToTrue()" href="#skills">{{"nav_skills" | translate}}</a>
          <a (click)="setPortfolioToTrue()" href="#portfolio">{{"nav_portfolio" | translate}}</a>
          <a href="#contact">{{"nav_contact" | translate}}</a>
          <img src="assets/img/icons/menu-btn/en-btn.png" class="pointer flag-btn"
            (click)="translationService.switchLanguage('en-EN')">
          <img src="assets/img/icons/menu-btn/de-btn.png" class="pointer flag-btn"
            (click)="translationService.switchLanguage('de-DE')">description
        </div>
      </div>
      } @else {
      <img src="assets/img/icons/menu-btn/burger-menu.png" aria-label="burger menu">
      }
    </div>
  </nav>
</header>
