@use '../../styles.scss' as *;

.datenschutz {
  padding: 150px 100px;
  font-family: 'Poppins', sans-serif;
}

a {
  overflow-wrap: break-word;
}

@media(max-width:550px) {
  .datenschutz {
    padding: 24px 16px;
  }

  h1 {
    font-size: 24px;
  }
}
