@use '../../styles.scss' as *;

.my-skills {
  position: relative;
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
  height: 100vh;

  >img {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 70%;
    z-index: -1;

  }
}

.headline-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 570px;

  >.headline {
    width: 100%;
    text-align: right;
    position: relative;
    display: flex;
    align-items: center;

    >span {
      font-size: $headline-font-size;
      width: 100%;
    }

    >.underline {
      width: 58px;
      border-bottom: 3px solid $tertiary;
      position: absolute;
      right: -100px;
    }
  }

  >span:nth-child(2) {
    text-align: right;
  }

  >.skills-btn {
    @include buttonStyle($primary, $tertiary, $primary-font-color, $primary);
    font-size: 23px;
    margin-top: 57px;
    text-decoration: none;
  }

}


.tech-stack {
  width: 751px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 123px;
  align-content: center;

}

.tech-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  >span {
    margin-top: 8px;
    width: 80px;
    text-align: center;
  }
}

@media (max-width: 1398px) {
  .headline-section {
    width: 100%;
  }

  .tech-stack {
    width: 100%;

  }
}

@media (max-width: 1024px) {
  .my-skills {
    flex-direction: column-reverse;
    gap: 48px;
    justify-content: center;
    align-items: flex-start;
  }

}

@media (max-width: 1001px) {
  .my-skills {
    padding: 111px 25px 0 25px;

    >.headline-section {
      >.headline {
        >.underline {
          right: -50;
          width: 80px;
        }
      }
    }
  }

  .tech-stack {
    justify-content: space-between;
    column-gap: 62px;
  }
}

@media (max-width: 630px) {
  .my-skills {
    .headline-section {
      >.headline {
        >span {
          font-size: 40px;
        }
      }

      >span {
        font-size: 16px;
      }

      >a {
        margin-top: 20px;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 564px) {
  .tech-stack {
    column-gap: 60px;
    row-gap: 24px;
    >.tech-box {
      > svg {
        width: 40px;
      }
    }
  }

}

@media screen and (max-width: 414px) {


  .tech-stack {
    column-gap: 30px;
    row-gap: 24px;
    >.tech-box {

    }
  }

}
