<div class="my-skills" id="skills">
  <div class="tech-stack">
    @for(count of techIcons; track count; ) {
    <div class="tech-box">
      <app-svg-icon [class]="'big-icon'" [width]="count.width" [height]="count.height" [path]="count.path" [id]="count.id"></app-svg-icon>
      <span>{{count.name}}</span>
    </div>
  }
  </div>
  <div class="headline-section">
    <div class="headline">
      <span>My skills</span>
      <div class="underline"></div>
    </div>
    <span>I have gained experience in building projects with various front end technologies and concepts. </span>
    <button class="skills-btn">Get in touch</button>
  </div>

  <img src="./../../assets/img/blurred colors/Green shadow 2.png" alt="" srcset="">
</div>
