<div class="my-skills">
  <div class="tech-stack">
    @for(count of techIcons; track count; ) {
    <div class="tech-box">
      <app-svg-icon [class]="''" [width]="'61'" [height]="'60'" [path]="count.path" [id]="count.id"></app-svg-icon>
      <span>{{count.name}}</span>
    </div>
    }
  </div>
  <div class="headline">
    <span>My skills</span>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae dicta reiciendis laudantium ipsa illo harum
      quasi! </span>
    <button class="skills-btn">Get in touch</button>

  </div>
</div>
