@use '../../styles.scss' as *;

.my-skills {
  position: relative;
  @include flex(space-between, unset);
  height: 100vh;

  >img {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 70%;
    z-index: 3;
  }

  >.skills-btn-mobile {
    @include buttonStyle($primary, $tertiary, $primary-font-color, $primary);
    font-size: 23px;
    margin-top: 57px;
    text-decoration: none;
    width: 200px;
    align-self: center;
    display: none;
  }

}

.headline-section {
  @include flex(center, center);
  flex-direction: column;
  width: 570px;
  z-index: 4;

  >.headline {
    width: 100%;
    text-align: right;
    position: relative;
    @include flex(unset, center);
    gap: 42px;

    >span {
      font-size: $headline-font-size;
      width: 100%;
      font-weight: 700;
    }

    >.divider {
      width: 58px;
      border-bottom: 3px solid $tertiary;
    }
  }

  >span:nth-child(2) {
    text-align: right;
    padding-right: 100px
  }

  >.skills-btn {
    @include buttonStyle($primary, $tertiary, $primary-font-color, $primary);
    font-size: 23px;
    margin-top: 57px;
    text-decoration: none;
  }

}


.tech-stack {
  width: 751px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
  row-gap: 48px;
  column-gap: 100px;
  align-content: center;

}

.tech-box {
  @include flex(unset, center);
  flex-direction: column;
  z-index: 4;
  width: 100px;
  height: 88px;

  >span {
    margin-top: 8px;
    width: 80px;
    text-align: center;
  }
}
