@use '../../styles.scss' as *;
.impressum {
  padding: 150px 100px;
  height: 100vh;
  font-family: 'Poppins', sans-serif;}

@media(max-width: 1001px) {
  .impressum {
    height: unset;
  }

}

@media(max-width: 550px) {
  .impressum {
    padding: 100px 25px;
  }
}
