@use '../../styles.scss' as *;
.impressum {
  padding: 150px 100px 0 100px;
  height: fit-content;
  font-family: 'Poppins', sans-serif;}

@media(max-width: 1077px) {
  .impressum {
    height: unset;
  }

}

@media(max-width: 550px) {
  .impressum {
    padding: 100px 25px;
  }
}
