@use '../../../styles.scss' as *;

.portfolio-section {
  position: relative;
  padding: 111px 0px 0px 0px;
  display: flex;
  flex-direction: column;

  >.headline-section {
    width: 100%;
    @include flex(unset, flex-end);
    flex-direction: column;

    >.headline {
      width: 100%;
      @include flex(center, center);
      gap: 2rem;

      >.divider-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        >.divider-small {
          border-bottom: 3px solid $tertiary;
          min-width: 20px;
          width: 50%;
          max-width: 109px;

        }
      }

      >.divider-big {
        border-bottom: 3px solid $tertiary;
        min-width: 50px;
        width: 100%;
        max-width: 951px;

      }

      >span {
        font-size: $headline-font-size;
        text-align: center;
        font-weight: 700;
      }
    }

    >.section-description {
      font-size: $normal-font-size;
      width: 100%;
      @include flex(center, unset);
      text-align: center;
    }
  }
}

.prup-blur {
  position: absolute;
  z-index: 1;
  transform: rotate(180deg);
  left: -140px;
  bottom: 20%;
  height: 748px;
  width: 648px;
}

.green-blur {
  position: absolute;
  z-index: 3;
  transform: rotate(180deg);
  right: -400px;
  bottom: 0;
  rotate: 264deg;
}

.wrapper {
  margin-top: 116px;
  padding: 100px 100px 0 100px;
  z-index: 4;
}
