@use '../../../styles.scss' as *;

@media (max-width: 1920px) {
  .portfolio-section {
    position: relative;

    >.headline-section {
      >.headline {
        >.divider-big-container {
          >.divider-big {
            border-bottom: 3px solid $tertiary;
            min-width: 50px;
            width: 100%;
            position: unset;
          }

        }
      }
    }

    >.green-blur {
      z-index: 3;
      transform: rotate(180deg);
      right: -400px;
      bottom: 0;
      rotate: 264deg;
      top: 600px;
    }
    >.prup-blur {
      top: unset;
      left: -150px;
    }
  }

}

@media (max-width: 1001px) {
  .wrapper {
    padding: 100px 50px 0 50px;
    @include flex(unset, center);
    flex-direction: column;
  }

  .prup-blur {
    top: 200px !important;
  }

  .green-blur {
    bottom: 200px;
    top: 0;
  }

}

@media (max-width: 768px) {
  .portfolio-section {
    >.headline-section {
      >.headline {
        >span {
          font-size: 45px;
        }
      }

      >.section-description {
        margin: 0 0 50px 0;
      }
    }
  }

}

@media (max-width: 500px) {
  .wrapper {
    padding: 0 50px 0 50px;
    @include flex(unset, center);
    flex-direction: column;
    margin-top: 0px;

  }

  .prup-blur {
    display: none;
  }

  .green-blur {
    bottom: 200px;

  }

}
