<div class="my-skills" id="skills">
  <button class="skills-btn-mobile" (click)="links.goToContact()">
    Get in touch
  </button>
  <div class="tech-stack">
    @for(count of techIcons; track count; ) {
    <div class="tech-box" data-aos="zoom-in">
      <app-svg-icon [class]="'big-icon'" [width]="count.width" [height]="count.height" [path]="count.path" [id]="count.id"></app-svg-icon>
      <span>{{count.name}}</span>
    </div>
  }
</div>
  <div class="headline-section" data-aos="fade-left">
    <div class="headline">
      <span>{{"my_skills_title" | translate}}</span>
      <div class="divider-container">
        <div class="divider"></div>
        <div class="divider-long"></div>
      </div>
    </div>
    <span>{{"my_skills_text" | translate}}</span>
    <button class="skills-btn" (click)="links.goToContact()">
      Get in touch
    </button>
  </div>

  <img src="assets/img/blurred colors/Green shadow 2.png" alt="" srcset="">
</div>
