@use '../../styles.scss' as *;

#github {
  &:hover {
    transform: scale(1.5);

    >path {
      fill: #4479C5;
    }
  }
}

#mail {
  &:hover {
    transform: scale(1.5);

    >path {
      fill: #FFCE08;
    }
  }
}

#linkedin {
  &:hover {
    transform: scale(1.5);

    >path {
      fill: #086BC9;
    }
  }
}

.small-icon {
  display: flex;
  align-items: center;
  width: 28px;
  height: 24px;
}

.big-icon {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
}

svg {
  &:hover {
    transform: translateY(-15px) scale(1.2);
    transition: all 0.125s;
  }
}

#angular {
  &:hover {
    >path {
      fill: #D6002F;
    }
  }
}

#typescript {
  &:hover {
    >path {
      fill: #2F74C0;
    }

  }

}


#javascript {
  &:hover {
    >path {
      fill: #F7E025;
    }
  }
}

#javascript {
  &:hover {
    >path {
      fill: #F7E025;
    }
  }
}

#html {
  &:hover {
    >path {
      fill: #E5532D;
    }
  }
}

#firebase {
  &:hover {
    >path:first-child {
      fill: #FFCD32;
    }
  }
}

#git {
  &:hover {
    >path {
      fill: #F05539;
    }
  }
}

#css {
  &:hover {
    >path {
      fill: #2D53E5;
    }
  }
}

#rest-api {
  &:hover {
    >path {
      fill: #095DA0;
    }
  }
}

#scrum {
  &:hover {
    >path {
      fill: #0A71BC;
    }
  }
}

#material-ui {
  &:hover {
    >path {
      fill: #0081CB;
    }
  }
}


@media (max-width: 564px) {
  .big-icon {
    width: 40px !important;
    height: 40px !important;
  }
}
