#github {
  &:hover {
    transform: scale(1.5);

    >path {
      fill: #4479C5;
    }
  }
}

#mail {
  &:hover {
    transform: scale(1.5);

    >path {
      fill: #FFCE08;
    }
  }
}

#linkedin {
  &:hover {
    transform: scale(1.5);

    >path {
      fill: #086BC9;
    }
  }
}

.small-icon {
  display: flex;
  align-items: center;
  width: 28px;
  height: 24px;
}

.big-icon {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
}



#angular {
  &:hover {
    transform: translateY(-15px) scale(1.2);

    >path {
      fill: #D6002F;
    }
  }
}

#typescript {
  &:hover {
    transform: translateY(-15px) scale(1.2);

    >path {
      fill: #2F74C0;
    }
  }
}

#javascript {
  &:hover {
    transform: translateY(-15px) scale(1.2);

    >path {
      fill: #F7E025;
    }
  }
}

#javascript {
  &:hover {
    transform: translateY(-15px) scale(1.2);

    >path {
      fill: #F7E025;
    }
  }
}

#html {
  &:hover {
    transform: translateY(-15px) scale(1.2);

    >path {
      fill: #E5532D;
    }
  }
}

#firebase {
  &:hover {
    transform: translateY(-15px) scale(1.2);

    >path:first-child {
      fill: #FFCD32;
    }
  }
}

#git {
  &:hover {
    transform: translateY(-15px) scale(1.2);

    >path {
      fill: #F05539;
    }
  }
}

#css {
  &:hover {
    transform: translateY(-15px) scale(1.2);

    >path {
      fill: #2D53E5;
    }
  }
}

#rest-api {
  &:hover {
    transform: translateY(-15px) scale(1.2);

    >path {
      fill: #095DA0;
    }
  }
}

#scrum {
  &:hover {
    transform: translateY(-15px) scale(1.2);

    >path {
      fill: #0A71BC;
    }
  }
}

#material-ui {
  &:hover {
    transform: translateY(-15px) scale(1.2);

    >path {
      fill: #0081CB;
    }
  }
}
