#github {
  &:hover {
    transform: scale(1.5);
    >path {
      fill: #4479C5;
    }
  }
}

#mail {
  &:hover {
    transform: scale(1.5);
    >path {
      fill: #FFCE08;
    }
  }
}

#linkedin {
  &:hover {
    transform: scale(1.5);
    >path {
      fill: #086BC9;
    }
  }
}

.small-icon {
  display: flex;
  align-items: center;
  width: 28px;
  height: 24px;
}

.big-icon {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
}
