/* You can add global styles to this file, and also import other style files */
@use '../node_modules/aos/src/sass/aos.scss' as *;
$primary: #70E61C;
$secondary: #1CDAE6;
$tertiary: #9747FF;
$background: #141D2F;
$menu-background: #414856;
$primary-font-color: #fff;
$h2-font-size: 52px;
$headline-font-size: 90px;
$headline-font-size-l: 70px;
$headline-font-size-s: 50px;
$nav-bar-height: 122px;
$normal-font-size: 16px;
$small-font-size: 14px;
$media-query-one: 1310px;
$media-query-two: 1001px;
$media-query-three: 900px;
$media-query-four: 768px;
$media-query-five: 600px;
$media-query-six: 480px;
$media-query-seven: 400px;
$media-query-eight: 390px;

html {
  scroll-behavior: smooth;
  background-color: $background;
  color: $primary-font-color;
  overflow-x: hidden;
  min-height: --webkit-fill-available;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: --webkit-fill-available;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

@mixin buttonStyle($color, $hover, $font-color: white, $borderColor: transparent) {
  cursor: pointer !important;
  background-color: $color;
  color: $font-color;
  border: 1px solid $borderColor;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 1rem;
  transition: background-color 0.3s;

  &:hover {
    background-color: lighten($hover, 10%);
    border: 1px solid lighten($hover, 10%);
    color: $primary-font-color;
  }

  &:active {
    background-color: darken($hover, 10%);
    border: 1px solid darken($hover, 10%);
    color: $primary-font-color;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: gray;
    border: 1px solid gray;
    color: $primary-font-color;
  }
}

/* poppins-100 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url('assets/fonts/poppins-v21-latin-100.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-200 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('assets/fonts/poppins-v21-latin-200.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/poppins-v21-latin-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/poppins-v21-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/poppins-v21-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/poppins-v21-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/poppins-v21-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/poppins-v21-latin-800.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/poppins-v21-latin-900.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.pointer {
  cursor: pointer;
}

.flex-center {
  display: flex;
  align-items: center;
}

.desktop-view {
  display: none !important;
}


@media (max-width: $media-query-one) {
  $headline-font-size: 70px;
  $h2-font-size: 36px;
}


@media (max-width: $media-query-two) {
  .desktop-view {
    display: block !important;
  }

  .mobile-view {
    display: none !important;
  }
}
