@use '../../../styles.scss' as *;

footer {
  box-sizing: border-box;
  padding: 0px 100px;
  position: absolute;
  left: 0;
  z-index: 4;
  height: 291px;
  width: 100%;
  border-top: 4px solid $primary;
  display: flex;
  justify-content: center;

  background-color: $background;

  >.footer-container {
    @include flex(space-between, center);
    height: 100%;
    width: 100%;
    max-width: 1920px;


    >.imprint {
      display: flex;
      flex-direction: column;
      gap: 8px;

      >span:first-child {
        font-size: 40px;
        font-weight: 700;
      }

      >a {
        text-decoration: none;
        color: $primary-font-color;
        display: inline-block;

      }
    }

    >.copy-r {
      font-size: 23px;
    }

    >.social-media {
      display: flex;
      gap: 32px;

      >img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid $primary;
      }
    }
  }
}

@media (max-width: 1001px) {
  footer {
    padding: 0px 50px;

    >.footer-container {
      flex-direction: column;
      @include flex(center, unset);
      gap: 30px;
      align-items: center;

      >.imprint {
        width: 235px;
      }

      >.copy-r {
        width: 236px
      }

      >.social-media {
        width: 235px;
      }
    }

  }
}
