<div [ngClass]="{'flexReverse': evenOrOdd()}" class="card" >
  <div class="project-img">
    <img src="assets/img/project-img/{{projectImg}}.png" alt="" srcset="">
  </div>
  <div class="project-description">
    <span [ngClass]="{'alingSelfEnd': evenOrOdd()}">
      {{projectTitle}}
    </span>
    <span [ngClass]="{'alingSelfEnd': evenOrOdd()}">
      {{techStack}}
    </span>
    <span [ngClass]="{'textAlingRight': evenOrOdd()}">
      {{projectDescription | translate}}
    </span>
    <div [ngClass]="{'justifyRight': evenOrOdd()}" class="button-section">
      <a target="_blank" href="{{liveLink}}">Live test</a>
      <a target="_blank" href="{{githubLink}}">Github</a>
    </div>
  </div>
</div>
