@use '../../styles.scss' as *;

.atf {
  height: calc(100vh - $nav-bar-height);
  padding: 210px 100px 0 100px;
  display: flex;
  justify-content: space-between;
  position: relative;

  >.img-container {
    position: relative;
    width: 606px;
    top: calc(50% - 450px);

    >img:first-child {
      position: absolute;
      top: 5px;
      left: 0;
      width: inherit;
      z-index: 2;
    }

    >img:last-child {
      position: absolute;
      z-index: 1;
      left: calc(50% - 450px);
      width: 900px;
    }
  }

  >.text-container {
    position: absolute;
    top: calc(50% - 300px);
    right: 100px;
    z-index: 4;
    display: flex;
    flex-direction: column;

    >.vertical {
      transform: rotate(270deg);
      position: absolute;
      top: 80px;
      left: -120px;
      font-size: 64px;
    }

    >.headline {
      font-size: $headline-font-size;
    }

    >.job-title {
      font-size: 60px;
      color: $tertiary;
    }

    >button {
      @include buttonStyle($primary, $tertiary);
      margin-top: 50px;
      font-size: 23px;
      display: inline-block;
      width: fit-content;
      align-self: center;
    }
  }

  >.separator {
    position: absolute;
    top: calc(50% - 180px);
    left: 0;
    width: 100%;
    height: 1080px;
    z-index: 3;
  }

  >.social-media-container {
    position: absolute;
    bottom: 15%;
    left: 0;
    display: flex;
    align-items: center;
    gap: 40px;
    z-index: 3;

    >.underline {
      border-bottom: 3px solid $tertiary;
      width: 100px;
    }

    >a:last-child {
      text-decoration: none;
      color: $primary-font-color;
      font-size: 23px;
    }
  }

  .vertical-wiggle {
    z-index: 3;
    position: absolute;
    bottom: 15%;
    right: 30px;
    display: flex;
    align-items: center;
    rotate: 90deg;
    text-decoration: none;
    color: $primary-font-color;
    font-size: 23px;

    >img {
      rotate: 270deg;
      align-self: center;
      width: 26px;
    }

    animation: up-and-down 1s infinite;
  }

  >img:last-child {
    position: absolute;
    top: calc(100% - $nav-bar-height);
    right: -330px;
    max-width: 100%;
    object-fit: cover;
    z-index: 3;
  }

  @keyframes up-and-down {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(-10px);
    }

    100% {
      transform: translateX(0);
    }

  }
}

@media(max-width: 1366px) {
  .atf {

    .text-container {

      >.vertical {
        top: 50px;
        left: -80px;
        font-size: 40px;
      }

      >.headline {
        font-size: 60px;
      }

      >.job-title {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 1094px) {
  .atf {

    >.separator {
      top: calc(50% - 180px);
      height: 1080px;
    }

  }
}

@media (max-width: 1001px) {
  .atf {
    padding: 100px 50px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    >.img-container {
      position: absolute;
      width: 450px;
      top: calc(50% - 320px);

      >img:last-child {
        left: calc(50% - 300px);
        width: 600px;
      }
    }

    >.text-container {
      position: relative;
      right: unset;
      left: unset;
      top: calc(50% - 240px);

      >.vertical {
        display: none;
      }
    }

    >.social-media-container {
      bottom: 10px !important;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      >.underline {
        display: none;
      }

      >a:last-child {
        display: none;
      }
    }

    >.vertical-wiggle {
      display: none;
    }

    >.separator {
      top: calc(50% - 50px);
      height: 599px;
    }
  }

  @media (max-width: 568px) {
    .atf {
      padding: 100px 50px;

      >.img-container {
        width: 400px;
        top: calc(50% - 280px);

        >img:last-child {
          left: calc(50% - 300px);
          width: 600px;
        }
      }

      >.text-container {
        top: 240px;

        >.headline {
          font-size: 40px;
        }

        >.job-title {
          font-size: 26px;
        }

        >button {
          font-size: 20px;
          margin-top: 20px;
        }
      }

      >.social-media-container {
        top: calc(100% - $nav-bar-height - 100px);
        width: 100%;

        >.underline {
          display: none;
        }

        >a:last-child {
          display: none;
        }
      }

      >.separator {
        height: 500px;
      }
    }

  }
}

@media (max-width: 375px) {
  .atf {
    padding: 100px 20px;

    >.img-container {
      width: 300px;
      top: calc(50% - 220px);

      >img:last-child {
        left: calc(50% - 200px);
        width: 400px;
      }
    }

    >.text-container {
      top: 150px;

      >.headline {
        font-size: 30px;
      }

      >.job-title {
        font-size: 20px;
      }

      >button {
        font-size: 16px;
        margin-top: 20px;
      }
    }

    >.separator {
      height: 200px;
      top: calc(50% - 10px);
    }

    >.social-media-container {
      bottom: 30px;
    }
    >img:last-child {
      left: calc(100% - 150px);
    }
  }
}
